body{
    background-color: aquamarine;
}

.regreso{
    font-size: 1.3cm;
    margin-left: 46%;
}

a:visited{
    color: saddlebrown;
    text-decoration: none;
}


a:hover{
    color:yellow;

    background-color: red;
}

h1{
    text-align: center;
}

p{
    font-size: xx-large;
    text-align: center;
}

h4{
    margin: 0%;
}

